
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello,<span style="color:red;">@context.User.Identity.Name!</span></a>
        <form method="post" action="/LogOut" style="display: inline-block;">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {

    private async Task GetClaimsPrincipalData()
    {
        var context = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        await GetClaimsPrincipalData();
    }
}